body {
    padding: 0;
    margin: 0;
    /* font-family: 'Noto Sans', sans-serif; */
    /* font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif'; */
    font-size:22px;
}

nav {
    color: #DDE9FF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    /* background: #000220;  */
    background: #121118; 
    font-weight: 500;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Text Me One'; */
    /* text-transform: uppercase; */
    letter-spacing: 0em;
    line-height: 1.8em;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
   
}

nav > ul > li {
    display: inline;
    margin-right: 3rem;
    margin-top: 0.5rem;
}

nav > ul > li:last-child {
    margin-right: 0;
}

nav a:hover {
    color: #2d1f73;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #2d1f73;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
  }

.settings_icon {
    margin-top: 7rem;
    margin: 0;
    font-size: 36px;
}

h1 {
    font-family: 'Source Sans Pro';
    text-shadow: 1.4px 1.4px  #000220;
    font-weight: 500;
    font-style: normal;
    line-height: 1.4em;
    font-size: 4rem;
    text-align:center;
}

.h2_title {
    font-weight: 50;
    font-style: normal;
    line-height: 5em;
    font-size: 2rem;
    margin-left: 1rem;
    margin-top:2rem;
}

.h3_title {
    font-weight: 50;
    font-style: normal;
    font-family: 'Oxygen', sans-serif;
    line-height: 3.5em;
    font-size: 3rem;
    margin-left: 1rem;
    margin-top:1rem;
    text-align:center
}

.h4_title {
    font-weight: 50;
    font-style: normal;
    font-family: 'Noto Sans', sans-serif;
    line-height: 2.5em;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top:0.1rem;
    margin-bottom: 1rem;
    text-align:center
}

.h4_title_more_bottom_space {
    font-weight: 50;
    font-style: normal;
    font-family: 'Noto Sans', sans-serif;
    line-height: 2.5em;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 0.1rem;
    text-align:center
}

.h3_title_more_line_space {
    font-weight: 50;
    font-style: normal;
    font-family: 'Oxygen', sans-serif;
    line-height: 5em;
    font-size: 3rem;
    margin-left: 1rem;
    margin-top:1rem;
    text-align:center
} 
a {
    color:white;
    text-decoration: none;
    padding: 0px 10px;
}

.h5_title {
    font-weight: 50;
    font-style: normal;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2rem;
    
}

.hero { 
    color: #ffffff;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* centering the background image*/
    background-repeat: no-repeat;
    background-image: url('../../images/emt_logo.png');
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    background-color: #121118;
}

.hook {
    color: #dfe7ff;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    
    /* background-repeat: no-repeat;
    background-image: url('../../images/opacity_65.png'); */
    /* opacity: 0.5; */
    background-position-y: center;
    background-position-x: center;
    background-size:contain;
    background-color: #171d4b;
}


.problem-statement {
    color: #dfe7ff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: left;
    align-items: left; */
    background: #121118; 
}

.col {
    float: left;
    width: 33%
}

.problem-statement-right {
    text-align: left; 
    padding-top: 60px;
}

.row {
    text-align: center; 
    display:inline-block;
    padding: 0;
    line-height:2em;
    font-size: 2rem;
}


footer {
    height: 13vh;
    /* background: #000220;  */
    background: #171d4b;
    color: #DDE9FF;
    padding-top:2vh;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    line-height:2em;
    font-size: 1rem;
    width: 100%;
}
 a:hover {
    color: #a899ff;  
}


.button {
    display: inline-block;
    height:3.5rem;
    width: 16rem;
    padding-top: 5px;
    color: #dde9ff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 45px; 
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #464b94;
    cursor: pointer;
    box-sizing: border-box; 
    font-family: 'Noto Sans', sans-serif;
}

.button:hover {
    background-color: #a899ff;
    color:white;
}


.logo:hover {
    
    background-image: url('../../images/midify_hover.png');
    background-size: auto;
}

.button:active {
    background-color: #9b69b6;
}

p {
    text-shadow: 1.6px 1.6px  #000220;
    font-size: 2.6rem;
}


li {
    display: list-item;
    list-style-type: disc;
}

.extra_blue_space{
    background-color: #171d4b;
    height: 10vh;
}

.extra_dark_blue_space {
    background-color: #121118;
    height: 10vh;
}

.problem_statement_image {
    height: 15rem;
    justify-content: center;
    align-items: center;
    /* display: flex;
    flex-direction: column; */

}

.consequences {
    color: #dfe7ff;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    
    
    background-color: #171d4b;
}

.how_it_works {
    color: #dfe7ff;
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #121118; 
}


.piechart {
    /* margin-top: 10rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    background-image: conic-gradient(
        rgb(192, 220, 255) 120deg, 
        rgb(117, 115, 253) 0 235deg);
        /* orange 0); */
}
/* device 1 at 47% usage: 34%

device 2 at 90% usage is 66% of the piechart*/


.pi_chart_label {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items:flex-end;
}

.pi_chart_label_devices {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.dashboard-row {
    /* text-align: center;  */
    display:flex;
    flex-direction: row;
    /* flex-wrap: wrap;*/
    width: 100%; 
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 1em;
    font-size: 2rem;
    margin-top: 1rem;
}


.dashboard-col {
    display: table;
    /* flex-direction: column; */
    /* float: left; */
    align-items: center;
    justify-content: center;
    width: 100%;
    /* width: 33.33% */
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

#rcorners1 {
    border-radius: 25px; 
    background: #2d1f73;
}

.dashboard {
    color: #dfe7ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #171d4b; 
}

.fancy-number {
    color: rgb(145, 197, 251);
    font-size: 10rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 580;
}

.rows-within-dashboard-col {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    /* margin-top: 0.2rem; */
    margin-bottom: 1rem;
    padding: 0.8rem;
    text-align: center;
}


.dashboard_title {
    font-weight: 50;
    font-style: normal;
    font-family: 'Oxygen', sans-serif;
    color: #c0e0fe;
    line-height: 2.5em;
    font-size: 1.5rem;
    /* margin-left: 1rem;
    margin-top:0.1rem;
    margin-bottom: 1rem; */
    text-align:center
}

.graph_title {
    font-weight: 50;
    font-style: normal;
    font-family: 'Oxygen', sans-serif;
    color: #c0e0fe;
    line-height: 2.5em;
    font-size: 1.5rem;
    /* margin-left: 1rem;
    margin-top:0.1rem;
    margin-bottom: 1rem; */
    /* text-align:start; */
}

.graph_text {
    font-weight: 40;
    font-style: normal;
    font-family: 'Oxygen', sans-serif;
    color: #c0e0fe;
    line-height: 2em;
    font-size: 1rem;
    /* margin-left: 1rem;
    margin-top:0.1rem;
    margin-bottom: 1rem; */
    /* text-align:start; */
}

.device_title {
    font-weight: 50;
    font-style: normal;
    font-family: 'Oxygen', sans-serif;
    color: #c0e0fe;
    line-height: 2.5em;
    font-size: 2rem;
    margin-top:0rem;
    /* margin-left: 1rem;
    margin-top:0.1rem;
    margin-bottom: 1rem; */
    text-align:center
}

.dashboard_top_title {
    font-weight: 150;
    font-style: normal;
    font-family: 'Oxygen', sans-serif;
    color: rgb(173, 214, 252);
    line-height: 2.5em;
    font-size: 3rem;
    display: flex;
    align-items: center;
    text-align:center
}

.embed_figure{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; */

    /* height: 40rem;  
    width: 85rem;
    align-items: center;
    justify-content: center;
    
    -webkit-transform:scale(0.5); */
}

.figure_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 39rem;
    /* position: relative;
    width: 100%;
    padding-top: 56.25%; */
    /* overflow: hidden; */
    background: rgb(119, 132, 227);
    border-radius: 25px; 
}

.graph_col {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70%;
}

.info_col {
    display: flex;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    /* justify-content: left; */
    width: 40%;
    height: 100%;
    
}

#percent_duty_cycle_device_1 {
    color: #000220;
    text-shadow: 0px 0px  #000220;
    font-size: 2.6rem;
}